<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAGE NOT FOUND</title>
</head>
<body>
  <h1>ERROR</h1>
  <p>Page not found...</p>
  <p>Let's go to the <a href="/">main page</a> </p>
</body>
</html>