<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(statusCode !== 200){ %>
        <script>
            const errorMessage = "<%= msg %>";
            alert(errorMessage);
        </script>
        <% } %>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="repeatPassword">Repeat password</label>
        <input type="password" id="repeatPassword" name="repeatPassword" required><br>
        <label for="isAdmin">Is admin: </label>
        <input type="checkbox" name="isAdmin" id="isAdmin"> <br>
        <button type="submit">Register</button>
    </form><br>
    <a href="/login">Or login</a><br>
    <a href="/">&larr;Go back</a>
</body>
</html>